*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: pink;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}